:root {
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --color-background-primary: #e5e5e5;
    --color-tertiary: #ffffff;
    --color-primary: #757575;
    --color-secondary: #212121;
    --color-accent: #2196f3;
    --color-background: #2f303a;
    --color-button: #f5f4fa;
    --color-button-secondary: #eeeeee;
    --color-logo: #000000;
    --color-top: #ececec;
    --color-client: #afb1b8;
}