body {
    font-family: var(--font-family-primary);
    background-color: var(--color-background-primar);
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}