.footer-contakts-link {
    color: var(--color-tertiary);
    line-height: 1.71;
    font-style: normal;
}

.footer-menu:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contakts-link:hover,
.footer-contakts-link:focus {
    color: var(--color-accent);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.footer-contakts-list .items {
    color: rgba(255, 255, 255, 0.6);
}

.footer {
    background-color: var(--color-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-flex {
    display: flex;
    align-items: baseline;
}


.adress {
    margin-right: 70px;
}

.footer-contakts-list {
    display: block;
    margin-top: 20px;
}