.logo {
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--color-logo);
}

.footer .logo {
    color: var(--color-tertiary);
}